body {
    margin: 0;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #000;
}

.container {
    position: relative;
    width: 80vw;
    max-width: 1200px;
}

.background {
    width: 100%;
    height: auto;
    display: block;
}

/* Позначки (включаючи Пердичіум) */
.marker {
    position: absolute;
    width: 10%; /* Налаштуй розмір */
    transform: translate(-50%, -50%);
}

.marker img {
    width: 100%;
    height: auto;
}
