body {
    margin: 0;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #000;
}

/* Контейнер для карти */
.map-container {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    position: relative;
    cursor: grab;
}

/* Карта */
.map {
    position: absolute;
    top: 0;
    left: 0;
    transform-origin: top left;
    transform: scale(1);
}

/* Фонова картинка */
.background {
    display: block;
    width: 100%;
    height: auto;
}

/* Позначки */
.marker {
    position: absolute;
    width: 4%;
    transform: translate(-50%, -50%);
}

.marker img {
    width: 100%;
    height: auto;
}
