body {
    margin: 0;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #000;
}

/* Контейнер карти */
.map-container {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    position: relative;
    cursor: grab;
}

/* Карта */
.map {
    position: absolute;
    top: 0;
    left: 0;
    transform-origin: top left;
}

/* Фонова картинка */
.background {
    display: block;
    width: 100%;
    height: auto;
}

/* Позначки */
.marker {
    position: absolute;
    width: 4%;
    transform: translate(-50%, -50%);
    transition: transform 0.1s ease-out;
}

.marker img {
    width: 100%;
    height: auto;
    pointer-events: auto; /* Відновлює клікабельність */
}
